{% extends 'pages/_base.html' %}

{% load crispy_forms_tags %}

{% block title %} Login | {{ block.super }} {% endblock title %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Login!</button>
    </form>
{% endblock content %}