{% extends 'pages/_base.html' %}

{% load crispy_forms_tags %}

{% block title %} Logout | {{ block.super }} {% endblock title %}

{% block content %}
    <h2>Log out</h2>
    <p>Are you sure you want to log out?</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-danger">Log out!</button>
    </form>
{% endblock content %}