{% extends 'pages/_base.html' %}

{% block title %}Home{% endblock title %}
{% block content %}
    <h1>Homepage</h1>
    {% if user.is_authenticated %}
        Hello, {{ user.username }}
    {% else %}
        <a href="{% url 'account_login' %}">Please login!</a>
    {% endif %}
{% endblock content %}