<header>
    <!-- Fixed navbar -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4
mb-3 bg-white border-bottom shadow-sm">
        <a href="{% url 'pages:home' %}" class="navbar-brand my-0 mr-md-auto
font-weight-normal">Bookstore</a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url 'pages:about' %}">About</a>
            {% if user.is_authenticated %}
                <a class="p-2 text-dark" href="{% url 'account_logout' %}">Log Out</a>
            {% else %}
                <a class="p-2 text-dark" href="{% url 'account_login' %}">Log In</a>
                <a class="btn btn-outline-primary"
                   href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}
        </nav>
    </div>
</header>